@using StockManagement.Domain.Core.Paging
@model PagedList<StockManagement.Application.DTOs.Responses.GetAllCustomersResponse>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Index" method="get">
	<input type="text" name="searchString" value="@ViewData["CurrentFilter"]" placeholder="Search by Name or Surname"/>
	@{
		var pageSizes = new List<int> { 10, 20, 50 };
		var currentPageSize = ViewData["CurrentPageSize"] != null ? int.Parse(ViewData["CurrentPageSize"].ToString()) : 10;
	}
	<select name="pageSize" onchange="this.form.submit()">
		@foreach(var pageSize in pageSizes)
		{
			if (pageSize == currentPageSize)
			{
				<option value="@pageSize" selected="selected">@pageSize</option>
			}
			else
			{
				<option value="@pageSize">@pageSize</option>
			}
		}

	</select>
	<input type="submit" value="Search" class="btn btn-primary"/>
</form>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				Id
			</th>
			<th>
				Name
			</th>
			<th>
				Surname
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Items)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Surname)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>

<div class="pagination">
	@if (Model.HasPreviousPage)
	{
		<a asp-action="Index" asp-route-pageNumber="@(Model.PageNumber - 1)" 
		asp-route-pageSize="@ViewData["CurrentPageSize"]" 
		asp-route-searchString="@ViewData["CurrentFilter"]">Previous</a>
	}
	@for (var i = 1; i <= Model.TotalPages; i++)
	{
		<a asp-action="Index" asp-route-pageNumber="@i"
		   asp-route-pageSize="@ViewData["CurrentPageSize"]"
		   asp-route-searchString="@ViewData["CurrentFilter"]"
			class="@(Model.PageNumber==i?"selected":"")">@i</a>
	}
	@if (Model.HasNextPage)
	{
		<a asp-action="Index" asp-route-pageNumber="@(Model.PageNumber + 1)"
		   asp-route-pageSize="@ViewData["CurrentPageSize"]"
		   asp-route-searchString="@ViewData["CurrentFilter"]">Next</a>
	}
</div>